<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:start_date) %></th>
      <th><%= model_class.human_attribute_name(:end_date) %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr class="<%= event.is_closed? ? "error" : "" %>" id="event_<%= event.id %>">
        <td><%= link_to event.name, event_path(event) %></td>
        <td><%= event.description %></td>
        <td><%= event.start_date %></td>
        <td><%= event.end_date %></td>
        <% if event.is_closed? %>
          <td>Event will happen on <%= l(event.dates_with_most_votes.first, format: :short) %></td>
        <% else %>
          <td><%= link_to "Close voting", event_close_voting_path(event), method: :post, remote: true, id: "close_event_" + event.id.to_s, :class => 'btn btn-mini' %></td>
        <% end %>
        <td>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      event_path(event),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-primary' %>
